<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">

    <title>Document</title>
</head>
<body>
    <h1>HEAD AQUI</h1>


    {{{body}}}



    <H1>FOOTER PADRÃO</H1>
</body>
</html>